/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */



body {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  background-color: #f5f6f7;
}

#homepage-navbar {
  border: none;
}

.homepage-navbar-light {
  background-color: rgba(225,225,225,0);
  -webkit-transition: background-color 0.7s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.7s;
}

.homepage-navbar-dark {
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: background-color 0.7s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.7s;
}

.homepage-navbar-brand {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 2em;
  color: white;
}

.homepage-navbar-brand:hover {
  text-decoration: none;
  color: white;
}

.home-nav-btn {
  color: white !important;
}

.homepage-jumbo {
  background: 
    linear-gradient(
      rgba(1, 1, 1, 0.45), 
      rgba(1, 1, 1, 0.45)
    ),

    url('https://s3.amazonaws.com/quotainer/jumbo-background-comp.jpg');

  background-size: cover;
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
}

.homepage-feature {
  padding-left: 20px;
  padding-right: 20px;
}

.homepage-feature-copy {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.italic-font {
  font-style: italic;
}

.home-glyph {
  font-size: 72px;
  display: block;
  text-align: center;
}

.navbar-default .navbar-brand {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 2em;
  /*color: white;*/
}

.user-welcome {
  /*color: #777;*/
  padding: 15px;
  /*padding-bottom: 15px;*/
  line-height: 20px  
}

.text-highlight {
  /*color: #ffa100;*/
  font-weight: bold;
}

.jumbotron {
  text-align: center;
}

.homepage-logo {
  font-family: 'Playfair Display', serif;
  font-style: normal;
}

.homepage-btn {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  background-color: #222;
  height: 200px;
  font-style: normal;
}

.footer-copy-wrapper {
  margin-top: 80px;
  text-align: center;
  color: white;
}

/* ------ Quote Display Styleing ------ */
.quote-box-wrapper {
  /*border: 1px solid red;*/
  /*border-radius: 0.3em;*/
  /*background-color: #fcfaf2;*/
  margin: 10px;
}

.quote-box {
  width: 70%;
  margin: auto;
}

.quote-copy {
  text-align: justify;
  font-style: italic;
}

.quote-author-copy {
  color: #c90707;
}

.quote-link-box {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: bold;
}

@media (max-width: 767px) {
  .homepage-navbar-light {
  transition:none;
  -webkit-transition:none;
  -moz-transition:none;
  }
  .homepage-navbar-dark {
    transition:none;
  -webkit-transition:none;
  -moz-transition:none;
  }
  .homepage-jumbo {
    padding-top: 85px;
    padding-bottom: 215px;
  }
}











